.root {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Sofia Pro";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.root:hover {
  color: var(--token-XB6KjTHe4);
}
