.root {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Sofia Pro";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: #ffffff;
  width: 198px;
  background: #000000;
  height: 62px;
  padding-top: 20px;
  position: relative;
}
.root:hover {
  color: var(--token-XB6KjTHe4);
}
.root:active {
  border: 2px solid #ffffff;
}
