.root {
  display: block;
  font-size: 18px;
  font-family: "Sofia Pro";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  width: 172px;
  transform: translate(0px, 0.40699999999969805px);
  position: relative;
}
.root:hover {
  color: var(--token-XB6KjTHe4);
}
